{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method="post" action="" novalidate>
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom me-4">Reset Password</legend>

            <!-- Email -->
            <div class="form-group mb-3">
                {{ form.email.label(class="form-control-label") }}
                {% if form.email.errors %}
                    {{ form.email(class="form-control form-control-lg is-invalid", placeholder="ex: teodorboboc18@gmail.com") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email(class="form-control form-control-lg", placeholder="ex: teodorboboc18@gmail.com") }}
                {% endif %}
            </div>
        </fieldset>

        <!-- Submit -->
        <div class="mb-3">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
{% endblock content %}
